#areas
  margin-top: 20px
  .row
    padding-left: 10px !important
    padding-right: 10px !important
  h1
    margin: 0px !important
    padding: 10px
    color: #f4f4f4
  p
    color: #f5f5f5
    padding: 10px
  a
    text-decoration: none
  .col-lg-4
    padding-left: 0px
    padding-right: 0px
  .wrapper1
    background-color: rgb(0, 249, 87)
    background-image: url('../images/ave.jpg')
    background-size: cover
    height: 330px
  .wrapper2
    padding-top: 80px
    background-color: rgb(249, 60, 0)
    height: 330px
  .wrapper3
    background-color: rgb(93, 54, 42)
    background-image: url('../images/ave.jpg')
    background-size: cover
    height: 330px
  .wrapper4
    padding-top: 80px
    background-color: rgb(0, 144, 249)
    height: 330px
  .wrapper5
    background-color: rgb(214, 0, 249)
    background-image: url('../images/paisaje.jpg')
    background-size: cover
    height: 330px
  .wrapper6
    padding-top: 80px
    background-color: rgb(0, 40, 249)
    height: 330px
    
@media(max-width:768px)

  #areas
    margin-top: 0px
    .container
      padding-left: 0px
      padding-right: 0px
      margin-left: 0px
      margin-right: 0px
      .row
        margin-left: 0px !important
        margin-right: 0px !important
        padding-left: 0px !important
        padding-right: 0px !important
