#graficos
  padding: 10px
  background-color: rgba(113, 77, 34, 100)
  margin-top: 60px
  .col-lg-4
    padding: 20px !important
  h1
    margin-top: -40px
    text-align: left
    width: 350px
    background-color: rgb(237, 109, 9)
    padding: 10px
    color: rgb(255, 255, 255)
  .panel-default
    border-radius: 0px !important
    border-color: rgba(74, 44, 7, 1)!important
  .panel-footer
    border-radius: 0px !important
    background-color: rgba(74, 44, 7, 1) !important
    border-top-color: rgba(74, 44, 7, 1) !important
    border-top: solid 5px rgba(255, 255, 255, 0.3) !important
    color: rgb(255, 255, 255) !important
    
@media(max-width:768px)
  #graficos

    h1
      margin-top: -40px
      text-align: center
      width: auto
      background-color: rgb(237, 109, 9)
      padding: 10px
      color: rgb(255, 255, 255)
      font-size: 20pt
