#nabvar.navbar-default
	color: #fff !important
	background: transparent !important
	border: 0px
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out
	transition: background .5s ease-in-out,padding .5s ease-in-out

#nabvar.navbar-inverse
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out
	transition: background .5s ease-in-out,padding .5s ease-in-out